.container {
	--spectrum-heading-sans-serif-font-weight: var(--spectrum-bold-font-weight);

	display: flex;
	flex-direction: column;
	margin: var(--spectrum-spacing-300) var(--spectrum-spacing-400);
}

.title {
	margin-bottom: var(--spectrum-spacing-100);
}
