.container {
	--spectrum-heading-sans-serif-font-weight: var(--spectrum-bold-font-weight);

	display: flex;
	flex-direction: column;
	margin: var(--spectrum-spacing-300) var(--spectrum-spacing-400) var(--spectrum-spacing-400);
}

.title {
	margin-bottom: var(--spectrum-spacing-100);
}

.sections {
	display: grid;
	grid-auto-rows: max-content;
	grid-template-columns: minmax(0, 1fr);
	gap: var(--spectrum-spacing-400);
}
