.textFieldset {
	margin: 0;
	padding: 0;
	border: 0;

	&__title {
		width: 100%;
		margin-bottom: var(--spectrum-spacing-100);
		padding: 0;
	}

	&__textfield {
		resize: none;
		width: 100%;
		margin-bottom: var(--spectrum-spacing-300);
	}

	&__picker {
		width: 100%;
	}
}
